---
import { Icon } from "astro-icon";

const { verses } = Astro.props;
---

<style>
  #play-btn:focus {
    outline: none;
  }

  .hidden {
    display: none;
  }
</style>
<button id="play-btn">
  <Icon id="play-icon" name="gridicons:play" size={36} />
  <Icon id="pause-icon" name="gridicons:pause" size={36} class="hidden" />
</button>
<script define:vars={{ verses }}>
const button = document.getElementById("play-btn");
let audio = null;
button.addEventListener("click", async () => {
  const playIcon = document.getElementById("play-icon");
  const pauseIcon = document.getElementById("pause-icon");
  const state = store.get();
  const finish = () => {
    store.set({ ...state, isPlaying: false });
    playIcon.classList.remove("hidden");
    pauseIcon.classList.add("hidden");
    if (audio) {
      audio.pause();
      audio = null;
    }
  };
  if (state.isPlaying) {
    finish();
  } else {
    store.set({ ...state, isPlaying: true });
    playIcon.classList.add("hidden");
    pauseIcon.classList.remove("hidden");
    for (const i of state.selectedVerses) {
      await new Promise((resolve) => {
        const { start, end } = verses[i];
        audio = new Audio(`/audio/kannada.mp3#t=${start},${end}`);
        audio.loop = false;
        audio.play();
        audio.addEventListener("ended", resolve);
        audio.onended = resolve;
        setTimeout(resolve, (end - start) * 1000);
      });
    }
    finish();
  }
});
</script>
