---
import { Icon } from "astro-icon";
import Menu from "./Menu.astro";

const { book, chapter } = Astro.props;
---

<style>
.container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:focus {
    outline: none;
  }
}

.hh40 {
  height: 400px;
  overflow-y: auto;
}

  .title-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  .relative {
    position: relative;
  }

  .panel {
    position: absolute;
    border-radius: 0.375rem;
    margin-top: 0.5rem;
    z-index: 50;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  }
</style>
<div class="container">
  <div
      x-data="{
          open: false,
          toggle() {
              if (this.open) {
                  return this.close()
              }

              this.$refs.button.focus()

              this.open = true
          },
          close(focusAfter) {
              if (! this.open) return
              this.open = false
              focusAfter && focusAfter.focus()
          }
      }"
      x-on:keydown.escape.prevent.stop="close($refs.button)"
      x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
      x-id="['dropdown-button']"
      class="relative"
  >
      <!-- Button -->
      <button
          x-ref="button"
          x-on:click="toggle()"
          :aria-expanded="open"
          :aria-controls="$id('dropdown-button')"
          type="button"
          class="btn"
      >
          <h1 class="title">{book}</h1>
          <Icon name="ion:chevron-down" size={24} />
      </button>

      <!-- Panel -->
      <div
          x-ref="panel"
          x-show="open"
          x-transition.origin.top.left
          x-on:click.outside="close($refs.button)"
          :id="$id('dropdown-button')"
          style="display: none;"
          class="panel"
      >
      <Menu />
      </div>
  </div>
</div>
