---
import { fade } from 'astro:transitions';

const { chapter, verses } = Astro.props;
---

<style>
  .verses-section {
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5rem;
    /* margin-left: 0.5rem; mobile */
    /* margin-right: 0.5rem; mobile */
    overflow-y: auto;
  }

  .verse-item {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    color: #010101;

    @media (min-width: 640px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .chapter-no {
    position: relative;
    display: inline;
    font-size: 1.5rem;
    line-height: .8em;
    bottom: -0.1em;
    left: 0;
    text-indent: 0;
    font-weight: 700;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Arial;
  }

  .verse-no {
    display: inline;
    vertical-align: text-top;
    color: #a30400;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: normal;
    top: auto;
    /* margin-left: 0.5rem; */
    /* margin-right: 0.5rem; */
  }

  .selected {
    background-color: #f8d1dc;
  }
</style>
<div class="verses-section" transition:animate={fade({ duration: '0.4s' })}>
  {
    verses.map((item, i) => (
      <p class="verse-item">
        {i === 0 ? <span class="chapter-no">
          {chapter}
        </span> : <sup class="verse-no">{i + 1}</sup>}
        {item.verse}
      </p>
    ))
  }
</div>
<script>
  const items = document.getElementsByClassName("verse-item");
  Array.from(items).forEach((it, i) =>
    it.addEventListener("click", () => {
      const { selectedVerses = [], ...state } = store.get();
      if (selectedVerses.includes(i)) {
        it.classList.remove("selected");
        store.set({
          ...state,
          selectedVerses: selectedVerses.filter((t) => t !== i),
        });
      } else {
        it.classList.add("selected");
        store.set({
          ...state,
          selectedVerses: selectedVerses.concat([i]),
        });
      }
    })
  );
</script>
