---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Bibles">
  <div
    class="w-full h-full flex flex-1 flex-col items-center"
    x-show="bible === ''"
  >
    <div class="flex m-12">
      <h1 class="text-4xl text-center leading-loose">
        The Holy Bible in different Indian Languages
      </h1>
    </div>
    <div class="flex flex-1 items-start mt-40">
      <a
        type="button"
        class="bg-gray-300 text-gray-900 text-3xl rounded hover:bg-gray-200 px-8 py-4 focus:outline-none mx-10"
        href="/bibles/kannada/Joshua/8"
      >
        Kannada
      </a>
    </div>
  </div>
</Layout>
