<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584350822569-s9t1p0bb1gqj8fothe4s5lstvu9k7244.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584350822569-s9t1p0bb1gqj8fothe4s5lstvu9k7244</string>
	<key>API_KEY</key>
	<string>AIzaSyAqRrBRa3fVmoZby_b4submR2hjQkImgZc</string>
	<key>GCM_SENDER_ID</key>
	<string>584350822569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sh.pyros.onlyBibleApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>only-bible-app</string>
	<key>STORAGE_BUCKET</key>
	<string>only-bible-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584350822569:ios:5d85f3e76fa02286fdf9b8</string>
</dict>
</plist>